// ------------------------
// COLORS------------------

$white: rgb(255, 255, 255);

$gray: 	rgb(160,160,160);

$darkblue: rgb(24, 96, 168);

$backgroundblue: rgb(216, 240, 255);

$lightblue: rgb(48, 144, 216);

$hovercolor: rgb(96, 216, 240);

$lightgray: rgb(190,190,190);

// ------------------------
// FONTS------------------

$main_text_family:'Montserrat', sans-serif;