header{

#header_background{
    background-image: url("img.png");
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 710px;
    position: relative;
    background-position: center;

.top_nav_bar{
    background: transparent;
    padding-top: 20px;

    .container{
        height: 50px;
    
    .row{
        display: flex;
        align-items: center;
        height: 50px;
        
    .nav_bar{
        display: flex;
        align-items: center;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
            .hidden_navbar{
                @include responsive-md() {
                    display: none;
                }
            }
            .hidden_button{
                list-style-type: none;
                display: inline-block;
                margin-right: 20px;
                display: none;
                @include responsive-md() {
                    display: block;
                }
                a{
                    div{
                        width: 25px;
                        height: 4px;
                        margin-bottom: 4px;
                        background-color: $white;
                    }
                }
            }
            
            li{
                list-style-type: none;
                display: inline-block;
                margin-right: 20px;
            
                a{
                    text-decoration: none;
                    color: $white;
                    font-family: $main_text_family;
                    
                    h1{
                        color: $white;
                        font-family: $main_text_family;
                        font-size: 24px;
                        font-weight: 700;
                        display: flex;
                        align-items: flex-end;
                        margin: 0;
                    }
                }
            }
        }
    }

     #login_button{
        @include login_button;
    }

        #paris_visit{
            color: $white;
            font-family: $main_text_family;
            position: absolute;
            display: inline-block;
            width: fit-content;
            right: 0;
            left: 0;
            margin: auto;
            margin-top: 270px;
            text-align: center;

            .first_paragraf{
                font-size: 72px;
                letter-spacing: 1.8px;
                @include responsive-md() {
                    font-size: 58px;
                }
                @include responsive-sm() {
                    font-size: 35px;
                }
                 
            }

            .second_paragraf{
                font-size: 30px;
                letter-spacing: 0.75px;
                @include responsive-md() {
                    font-size: 24px;
                }
                @include responsive-sm() {
                    font-size: 14px;
                }
            }
        }

        .input_line{
            position: absolute;
            width:fit-content;
            left: 0;
            right: 0;
            margin: 0px auto;
            bottom: -23px;
            background-color: transparent;
            @include responsive-md() {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                bottom: 0;
            }

            ::placeholder{
                @include responsive-md() {
                    color: $white;
                    text-align: center;
            }
        }
    }
        .left_input{
            width: 335px;
            @include input_field;
            @include responsive-sm(){
                width: 250px;
            }
        }
        .right_input{
            width: 186px;
            @include input_field;
            @include responsive-sm(){
                width: 180px;
            }
        }
        .search_button{
            font-family: $main_text_family;
            background-color: $red;
            font-size: 16px;
            width: 120px;
            height: 55px;
            border: none;
            color: #ffffff;
            margin-left: -2px;
            padding-top: 2px;
            @include responsive-sm(){
                height: 40px;
            }
        }   
    }
}
}
}
}
