// ------------------------
// COLORS------------------

$white: rgb(255, 255, 255);

$gray: 	rgb(160,160,160);

$red: #ff4b64;

// ------------------------
// FONTS------------------

$main_text_family:'Montserrat', sans-serif;