header #header_background {
  background-image: url("img.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 710px;
  position: relative;
  background-position: center;
}

header #header_background .top_nav_bar {
  background: transparent;
  padding-top: 20px;
}

header #header_background .top_nav_bar .container {
  height: 50px;
}

header #header_background .top_nav_bar .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

header #header_background .top_nav_bar .container .row .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header_background .top_nav_bar .container .row .nav_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row .nav_bar ul .hidden_navbar {
    display: none;
  }
}

header #header_background .top_nav_bar .container .row .nav_bar ul .hidden_button {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  display: none;
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row .nav_bar ul .hidden_button {
    display: block;
  }
}

header #header_background .top_nav_bar .container .row .nav_bar ul .hidden_button a div {
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  background-color: white;
}

header #header_background .top_nav_bar .container .row .nav_bar ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

header #header_background .top_nav_bar .container .row .nav_bar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

header #header_background .top_nav_bar .container .row .nav_bar ul li a h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}

header #header_background .top_nav_bar .container .row #login_button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row #login_button {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}

header #header_background .top_nav_bar .container .row #paris_visit {
  color: white;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 270px;
  text-align: center;
}

header #header_background .top_nav_bar .container .row #paris_visit .first_paragraf {
  font-size: 72px;
  letter-spacing: 1.8px;
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row #paris_visit .first_paragraf {
    font-size: 58px;
  }
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row #paris_visit .first_paragraf {
    font-size: 35px;
  }
}

header #header_background .top_nav_bar .container .row #paris_visit .second_paragraf {
  font-size: 30px;
  letter-spacing: 0.75px;
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row #paris_visit .second_paragraf {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row #paris_visit .second_paragraf {
    font-size: 14px;
  }
}

header #header_background .top_nav_bar .container .row .input_line {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0px auto;
  bottom: -23px;
  background-color: transparent;
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row .input_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
  }
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row .input_line ::-webkit-input-placeholder {
    color: white;
    text-align: center;
  }
  header #header_background .top_nav_bar .container .row .input_line :-ms-input-placeholder {
    color: white;
    text-align: center;
  }
  header #header_background .top_nav_bar .container .row .input_line ::-ms-input-placeholder {
    color: white;
    text-align: center;
  }
  header #header_background .top_nav_bar .container .row .input_line ::placeholder {
    color: white;
    text-align: center;
  }
}

header #header_background .top_nav_bar .container .row .left_input {
  width: 335px;
  height: 55px;
  padding-left: 33px;
  font-size: 16px;
  color: #a0a0a0;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin: 0px -3px;
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row .left_input {
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row .left_input {
    height: 45px;
    padding-left: 0px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row .left_input {
    width: 250px;
  }
}

header #header_background .top_nav_bar .container .row .right_input {
  width: 186px;
  height: 55px;
  padding-left: 33px;
  font-size: 16px;
  color: #a0a0a0;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin: 0px -3px;
}

@media (max-width: 991px) {
  header #header_background .top_nav_bar .container .row .right_input {
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row .right_input {
    height: 45px;
    padding-left: 0px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row .right_input {
    width: 180px;
  }
}

header #header_background .top_nav_bar .container .row .search_button {
  font-family: "Montserrat", sans-serif;
  background-color: #ff4b64;
  font-size: 16px;
  width: 120px;
  height: 55px;
  border: none;
  color: #ffffff;
  margin-left: -2px;
  padding-top: 2px;
}

@media (max-width: 768px) {
  header #header_background .top_nav_bar .container .row .search_button {
    height: 40px;
  }
}

section .container {
  width: 100%;
}

section .container .row {
  margin-top: 150px;
}

@media (max-width: 768px) {
  section .container .row {
    margin-top: 40px;
  }
}

section .container .row .flights {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  color: #484848;
}

section .container .row .flights h3 {
  margin: 0;
}

section .container .row .col-lg-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section .container .row .flights_navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .row .flights_navbar nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

section .container .row .flights_navbar nav ul li {
  display: inline-block;
  margin: 0;
}

section .container .row .flights_navbar nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
  font-weight: 700;
}

section .container .row .flights_navbar nav ul li a:hover {
  color: #ff4b64;
  font-weight: 700;
}

section .container .row .flights_navbar nav ul li .div_buttons {
  margin: 0;
}

section .container .row .flights_navbar nav ul li .div_buttons div {
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #484848;
  display: none;
}

@media (max-width: 991px) {
  section .container .row .flights_navbar nav ul li .div_buttons div {
    display: block;
  }
}

@media (max-width: 991px) {
  section .container .row .flights_navbar nav ul .hidden_navbar {
    display: none;
  }
}

section .container .table_box {
  overflow-x: scroll;
}

section .container .table_box table {
  width: 100%;
}

section .container .table_box table .first_table_row {
  height: 115px;
  border-bottom: 1px solid #e6e6e6;
}

section .container .table_box table .first_table_row .icon_row {
  width: 5%;
  text-align: center;
}

section .container .table_box table .first_table_row .text_row {
  width: 15%;
  text-align: center;
}

section .container .table_box table .first_table_row .price_row {
  width: 20%;
  text-align: center;
}

section .container .table_box table .first_table_row .text_align_start {
  text-align: start;
}

section .container .table_box table .first_table_row th {
  font-weight: 500;
}

section .container .table_box table .second_table_row {
  height: 142px;
  border-bottom: 1px solid #e6e6e6;
}

section .container .table_box table .second_table_row th .icon_row {
  width: 5%;
  text-align: center;
}

section .container .table_box table .second_table_row th .text_row {
  width: 15%;
  text-align: center;
}

section .container .table_box table .second_table_row th .price_row {
  width: 20%;
  text-align: center;
}

section .container .table_box table .second_table_row th .first_word {
  color: #484848;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .second_table_row th .first_word {
    font-size: 14px;
  }
}

section .container .table_box table .second_table_row th .last_word {
  color: #9a9a9a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .second_table_row th .last_word {
    font-size: 14px;
  }
}

section .container .table_box table .second_table_row th #price_button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  color: #ff4b64;
  border-color: #ff4b64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  section .container .table_box table .second_table_row th #price_button {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}

section .container .table_box table .third_table_row {
  height: 142px;
  border-bottom: 1px solid #e6e6e6;
}

section .container .table_box table .third_table_row th .icon_row {
  width: 5%;
  text-align: center;
}

section .container .table_box table .third_table_row th .text_row {
  width: 15%;
  text-align: center;
}

section .container .table_box table .third_table_row th .price_row {
  width: 20%;
  text-align: center;
}

section .container .table_box table .third_table_row th .first_word {
  color: #484848;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .third_table_row th .first_word {
    font-size: 14px;
  }
}

section .container .table_box table .third_table_row th .last_word {
  color: #9a9a9a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .third_table_row th .last_word {
    font-size: 14px;
  }
}

section .container .table_box table .third_table_row th #price_button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  color: #ff4b64;
  border-color: #ff4b64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  section .container .table_box table .third_table_row th #price_button {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}

section .container .table_box table .four_table_row {
  height: 142px;
  border-bottom: 1px solid #e6e6e6;
}

section .container .table_box table .four_table_row th .icon_row {
  width: 5%;
  text-align: center;
}

section .container .table_box table .four_table_row th .text_row {
  width: 15%;
  text-align: center;
}

section .container .table_box table .four_table_row th .price_row {
  width: 20%;
  text-align: center;
}

section .container .table_box table .four_table_row th .first_word {
  color: #484848;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .four_table_row th .first_word {
    font-size: 14px;
  }
}

section .container .table_box table .four_table_row th .last_word {
  color: #9a9a9a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .four_table_row th .last_word {
    font-size: 14px;
  }
}

section .container .table_box table .four_table_row th #price_button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  color: #ff4b64;
  border-color: #ff4b64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  section .container .table_box table .four_table_row th #price_button {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}

section .container .table_box table .five_table_row {
  height: 142px;
  border-bottom: 1px solid #e6e6e6;
}

section .container .table_box table .five_table_row th .icon_row {
  width: 5%;
  text-align: center;
}

section .container .table_box table .five_table_row th .text_row {
  width: 15%;
  text-align: center;
}

section .container .table_box table .five_table_row th .price_row {
  width: 20%;
  text-align: center;
}

section .container .table_box table .five_table_row th .first_word {
  color: #484848;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .five_table_row th .first_word {
    font-size: 14px;
  }
}

section .container .table_box table .five_table_row th .last_word {
  color: #9a9a9a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .five_table_row th .last_word {
    font-size: 14px;
  }
}

section .container .table_box table .five_table_row th #price_button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  color: #ff4b64;
  border-color: #ff4b64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  section .container .table_box table .five_table_row th #price_button {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}

section .container .table_box table .six_table_row {
  height: 142px;
  border-bottom: 1px solid #e6e6e6;
}

section .container .table_box table .six_table_row th .icon_row {
  width: 5%;
  text-align: center;
}

section .container .table_box table .six_table_row th .text_row {
  width: 15%;
  text-align: center;
}

section .container .table_box table .six_table_row th .price_row {
  width: 20%;
  text-align: center;
}

section .container .table_box table .six_table_row th .first_word {
  color: #484848;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .six_table_row th .first_word {
    font-size: 14px;
  }
}

section .container .table_box table .six_table_row th .last_word {
  color: #9a9a9a;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 991px) {
  section .container .table_box table .six_table_row th .last_word {
    font-size: 14px;
  }
}

section .container .table_box table .six_table_row th #price_button {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  color: #ff4b64;
  border-color: #ff4b64;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  section .container .table_box table .six_table_row th #price_button {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}

section .container .table_box table .seven_table_row {
  height: 142px;
}

@media (max-width: 991px) {
  section .container .table_box table .seven_table_row {
    height: 100px;
  }
}

@media (max-width: 768px) {
  section .container .table_box table .seven_table_row {
    height: 50px;
  }
}

section .container .table_box table .seven_table_row th {
  text-align: end;
}

section .container .table_box table .seven_table_row th .icon_row {
  width: 5%;
  text-align: center;
}

section .container .table_box table .seven_table_row th .text_row {
  width: 15%;
  text-align: center;
}

section .container .table_box table .seven_table_row th .price_row {
  width: 20%;
  text-align: center;
}

section .container .table_box table .seven_table_row th .all_flights {
  font-size: 16px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

section .container .table_box table .seven_table_row th .all_flights:hover {
  color: #ff4b64;
}

section .container .hotels {
  margin-top: 30px;
}

section .container .hotels .flights {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  color: #484848;
}

section .container .hotels .flights h3 {
  margin: 0;
}

section .container .hotels .col-lg-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section .container .hotels .flights_navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .hotels .flights_navbar nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

section .container .hotels .flights_navbar nav ul li {
  display: inline-block;
  margin: 0;
}

section .container .hotels .flights_navbar nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
}

section .container .hotels .flights_navbar nav ul li a:hover {
  color: #ff4b64;
}

section .container .hotels .flights_navbar nav ul li .div_buttons_for_hotel {
  margin: 0;
}

section .container .hotels .flights_navbar nav ul li .div_buttons_for_hotel div {
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #484848;
  display: none;
}

@media (max-width: 991px) {
  section .container .hotels .flights_navbar nav ul li .div_buttons_for_hotel div {
    display: block;
  }
}

@media (max-width: 991px) {
  section .container .hotels .flights_navbar nav ul .hidden_navbar {
    display: none;
  }
}

.hotel_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hotel_images .blokas {
  margin-top: 30px;
}

.hotel_images .blokas img {
  width: 100%;
}

.hotel_images .blokas .image img {
  width: 100%;
}

.hotel_images .blokas .text_bottom_img {
  border: 1px solid #e6e6e6;
  border-top: none;
  width: 100%;
}

.hotel_images .blokas .text_bottom_img p {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 26px;
  margin-bottom: 26px;
  margin-left: 16px;
}

.hotel_images .blokas .text_bottom_img .tekstas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  color: #9a9a9a;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.hotel_images .blokas .text_bottom_img .tekstas .kairys_tekstas {
  width: calc(50% - 15px);
  margin-left: 15px;
}

.hotel_images .blokas .text_bottom_img .tekstas .desinys_tekstas {
  width: calc(50% - 15px);
  margin-right: 15px;
  text-align: end;
}

.hotel_images .blokas .text_bottom_img .kainos_mygtukas {
  width: 120px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  color: #ff4b64;
  border-color: #ff4b64;
  margin-left: 15px;
  margin-top: 22px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .hotel_images .blokas .text_bottom_img .kainos_mygtukas {
    width: 70px;
    height: 35px;
    font-size: 14px;
  }
}

.see_all {
  width: 100%;
  padding-top: 43px;
  padding-bottom: 80px;
  margin: 0;
  text-align: end;
  font-weight: 700;
}

@media (max-width: 991px) {
  .see_all {
    padding-top: 30px;
    padding-bottom: 45px;
  }
}

@media (max-width: 768px) {
  .see_all {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.see_all a {
  text-decoration: none;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.see_all a:hover {
  color: #ff4b64;
}

#attractions_row {
  padding: 0;
}

#attractions_row .row {
  margin: 0;
}

#attractions_row .row .attractions {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  color: #484848;
  padding-left: 0;
}

#attractions_row .row .col-lg-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
}

#attractions_row .row .attractions_navbar {
  padding-right: 0;
}

#attractions_row .row .attractions_navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-right: 0;
}

#attractions_row .row .attractions_navbar ul li {
  display: inline-block;
  margin: 0;
}

#attractions_row .row .attractions_navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
}

#attractions_row .row .attractions_navbar ul li a:hover {
  color: #ff4b64;
  font-weight: 700;
}

#attractions_row .row .attractions_navbar ul li .div_buttons {
  margin: 0;
}

#attractions_row .row .attractions_navbar ul li .div_buttons div {
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #484848;
  display: none;
}

@media (max-width: 991px) {
  #attractions_row .row .attractions_navbar ul li .div_buttons div {
    display: block;
  }
}

@media (max-width: 991px) {
  #attractions_row .row .attractions_navbar ul .hidden_navbar {
    display: none;
  }
}

#attraction_images .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#attraction_images .row .paveiksliukas {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

@media (max-width: 991px) {
  #attraction_images .row .paveiksliukas {
    margin-bottom: 30px;
  }
}

#attraction_images .row .paveiksliukas img {
  width: 100%;
}

#attraction_images .row .paveiksliukas span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.6px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#attraction_images .row .desinys_img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

@media (max-width: 991px) {
  #attraction_images .row .desinys_img {
    margin-bottom: 0px;
  }
}

#attraction_images .row .desinys_img .paveiksliukas_top_img {
  position: relative;
}

@media (max-width: 991px) {
  #attraction_images .row .desinys_img .paveiksliukas_top_img {
    margin-bottom: 30px;
  }
}

#attraction_images .row .desinys_img .paveiksliukas_top_img img {
  width: 100%;
}

#attraction_images .row .desinys_img .paveiksliukas_top_img span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.6px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#attraction_images .row .desinys_img .paveiksliukas_bottom_img {
  position: relative;
}

#attraction_images .row .desinys_img .paveiksliukas_bottom_img img {
  width: 100%;
}

#attraction_images .row .desinys_img .paveiksliukas_bottom_img span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.6px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#attraction_images .row .col-lg-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#attraction_images .row .bottom_img {
  margin-top: 31px;
  position: relative;
}

#attraction_images .row .bottom_img img {
  width: 100%;
}

#attraction_images .row .bottom_img span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.6px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 768px) {
  #attraction_images .row .not_last_img {
    margin-top: 0px;
  }
}

@media (max-width: 991px) {
  #attraction_images .row .last_img {
    margin-top: 0px;
  }
}

#trips_container .container .row {
  margin: 0;
}

#trips_container .container .row .trips {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 30px;
  color: #484848;
  padding-left: 0;
}

#trips_container .container .row .col-lg-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
}

#trips_container .container .row .trips_navbar {
  padding-right: 0;
}

#trips_container .container .row .trips_navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-right: 0;
}

#trips_container .container .row .trips_navbar ul li {
  display: inline-block;
  margin: 0;
}

#trips_container .container .row .trips_navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
}

#trips_container .container .row .trips_navbar ul li a:hover {
  color: #ff4b64;
  font-weight: 700;
}

#trips_container .container .row .trips_navbar ul li .div_buttons {
  margin: 0;
}

#trips_container .container .row .trips_navbar ul li .div_buttons div {
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #484848;
  display: none;
}

@media (max-width: 768px) {
  #trips_container .container .row .trips_navbar ul li .div_buttons div {
    display: block;
  }
}

@media (max-width: 768px) {
  #trips_container .container .row .trips_navbar .hidden_navbar {
    display: none;
  }
}

#trips_container .container .row .first_text {
  margin-top: 68px;
  border: 1px solid #e6e6e6;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  #trips_container .container .row .first_text {
    border: none;
  }
}

#trips_container .container .row .first_text .first_text_image {
  padding-left: 0;
}

@media (max-width: 991px) {
  #trips_container .container .row .first_text .first_text_image {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
  }
}

#trips_container .container .row .first_text .first_text_image img {
  width: 100%;
  height: 100%;
}

#trips_container .container .row .first_text .first_text_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  #trips_container .container .row .first_text .first_text_text {
    text-align: center;
  }
}

#trips_container .container .row .first_text .first_text_text #first_paragraph {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26.04px;
}

@media (max-width: 991px) {
  #trips_container .container .row .first_text .first_text_text #first_paragraph {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
  }
}

#trips_container .container .row .first_text .first_text_text #second_paragraph {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.04px;
}

#trips_container .container .row .second_text {
  margin-top: 30px;
  border: 1px solid #e6e6e6;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  #trips_container .container .row .second_text {
    border: none;
  }
}

#trips_container .container .row .second_text .second_text_image {
  padding-left: 0;
}

@media (max-width: 991px) {
  #trips_container .container .row .second_text .second_text_image {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
  }
}

#trips_container .container .row .second_text .second_text_image img {
  width: 100%;
}

#trips_container .container .row .second_text .second_text_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  #trips_container .container .row .second_text .second_text_text {
    text-align: center;
  }
}

#trips_container .container .row .second_text .second_text_text #first_paragraph {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26.04px;
}

@media (max-width: 991px) {
  #trips_container .container .row .second_text .second_text_text #first_paragraph {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
  }
}

#trips_container .container .row .second_text .second_text_text #second_paragraph {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.04px;
}

#trips_container .container .row .third_text {
  margin-top: 30px;
  border: 1px solid #e6e6e6;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  #trips_container .container .row .third_text {
    border: none;
  }
}

#trips_container .container .row .third_text .third_text_image {
  padding-left: 0;
}

@media (max-width: 991px) {
  #trips_container .container .row .third_text .third_text_image {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
  }
}

#trips_container .container .row .third_text .third_text_image img {
  width: 100%;
}

#trips_container .container .row .third_text .third_text_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  #trips_container .container .row .third_text .third_text_text {
    text-align: center;
  }
}

#trips_container .container .row .third_text .third_text_text #first_paragraph {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26.04px;
}

@media (max-width: 991px) {
  #trips_container .container .row .third_text .third_text_text #first_paragraph {
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
  }
}

#trips_container .container .row .third_text .third_text_text #second_paragraph {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.04px;
}

footer {
  margin-bottom: 80px;
}

footer .container .row .col-6 h3 {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 25.99px;
  margin-bottom: 62px;
}

footer .container .row .col-6 p {
  color: #484848;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.99px;
}

footer .container .row .col-6 #red_email {
  color: #ff4b64;
}
/*# sourceMappingURL=style.css.map */